@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Playfair Display', serif; 
font-family: 'Inter', sans-serif;*/

$font-color-dark: #202336;
$font-color-light: #B8BECD;
$color-orange: #FB8F1D;
$background-grey: #F9F9FB;
$color-white: #FFFFFF;

%button_style {
    background: $color-orange;
    color: $color-white;
    width: 110px;
    height: 30px;
    outline-style: none;
    border-style: none;
    border-radius: 5px;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

/* ------- Header + Nav ---------------- */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    article {
        width: 50%;
        margin-left: 10%;
        h1 {
            font-size: 2.5rem;
            font-family: 'Playfair Display', serif;
            width: 50%;
        }
        .line {
            content: "";
            background: $font-color-dark;
            width: 30px;
            height: 2px;
            margin-bottom: 3%;
        }
        select {
            width: 150px;
            height: 40px;
            border-radius: 5px;
            outline-style: none;
            margin: 2% 5% 3% 0;
            padding: 2%
        }
        input {
            @extend%button_style;
            margin-top: 3%;
        }
    }
    img {
        width: 45%;
        margin-right: 5%;
    }
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    img {
        width: 30px;
        height: 30px;
        padding-left: 7%;
    }
    div {
        display: flex;
        input {
            width: 90px;
            height: 30px;
            margin: 10px 5px 0 0;
            outline-style: none;
            border-style: none;
            border-radius: 5px;
        }
        input:first-of-type {
            background: $color-white;
            color: $color-orange;
            border: 1px solid $color-orange;
        }
        input:last-of-type {
            @extend%button_style;
            margin-right: 70px;
            width: 90px;
        }
    }
    ul {
        display: flex;
        li {
            list-style: none;
            padding-right: 30px;
            a {
                text-decoration: none;
                color: $font-color-light;
            }
        }
    }
}

/* ------- Footer ----------- */
footer {
    background: $background-grey;
    color: $font-color-light;
    font-size: .8rem;
    .footer-section-one {
        display: flex;
        padding-top: 5%;
        article:first-of-type {
            padding-left: 10%;
            width: 25%;
            img {
                width: 30px;
            }
            p {
                line-height: 1.3rem;
                padding-bottom: 5%;
            }
        }
        article:last-of-type {
            table {
                padding-left: 20%;
                padding-bottom: 7%;
                th {
                    color: $font-color-dark;
                    text-align: left;
                    padding-bottom: 3%;
                }
                td {
                    width: 250px;
                    padding-bottom: 1%;
                }
            }
        }
    }
    .line-long {
        content: "";
        width: 80%;
        height: 1px;
        background: $font-color-light;
        margin-left: 10%;
        
    }
    .socialmedia {
        display: flex;
        justify-content: center;
        margin: 2% auto;
        a {
            padding-right: 3%;
        }
    }
}

/* Home / About */

.two-columns {
    display: flex;
    margin-top: 10%;
    .img {
        
        img {
         width: 90%;
        }
    }
    .text {
        width: 50%;
        padding: 5% 10% 10%;
        h1 {
            font-family: 'Playfair Display', serif; 
            font-size: 2rem;
        }
        p {
            color: $font-color-light;
            line-height: 1.5rem;
            margin-bottom: 10%;
            font-size: .9rem;
        }
        a {
            @extend%button_style;
            text-decoration: none;
            padding: 10px 30px;
        }
    }
  }

/* Destination */

.featured {
    h2 {
        margin-left: 10%;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        font-family: 'Playfair Display', serif; 
        .view {
            font-size: .8rem;
            color: $color-orange;
            padding-right: 5%;
            font-family: 'Inter', sans-serif;
        }
        .view::after {
            content: " >";
        }
    }
    .featured-img {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0 7%;
    }
}

/* Testimonial */

.testimonial {
    display: flex;
    margin: 10% 10% 7% 10%;
   h2 {
    font-family: 'Playfair Display', serif; 
     padding-bottom: 15%;
   }
   p:first-of-type {
       width: 60%;
       padding-bottom: 5%;
   }
   p:nth-of-type(2) {
       font-size: .7rem;
   }
}
  
